{% extends 'base.html.twig' %}

{% block title %}Page Title{% endblock %}

{% block body %}
  <h1>Welcome to my website!</h1>
  <p>This is the content of the child template.</p>
  <p>Hello {{ hello }}!</p>
{% endblock %}